[Unit]
Description=Tentacle server for NearField
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
WorkingDirectory=/opt/nearfield/deploy_service/tentacle-server
ExecStart=/opt/nearfield/deploy_service/tentacle-server/NearField.TentacleServer

[Install]
WantedBy=multi-user.target